html {
    height: 100%;
    box-sizing: border-box;
}

body {
    padding-top: 5%;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 6px 15px -10px #999;    
}

.hashtag {
    background: none !important;
    border: none; 
    padding: 0 !important;
    cursor: pointer;
    transition: color 0.3s;
}

.hashtag:hover {
    color: rgb(77, 178, 224);
}

.h5-user-info {
    position: relative;
    clear: both;
    padding-left: 5%;
    padding-bottom: 2%;
}

.container-fluid {
    padding-top: 100px;
}

.user-card {
    position: relative;
    top: -100px;
}

.below-user {
    position: relative !important;
    top: -89px !important;
}

.back-img {
    width: 100vw;
    height: 400px;
}

.col-md-6 {
    padding-top: 12%;
}

.on-the-right {
    padding-top: 12%;
}

.gedf-main {
    flex: 0 0 40% !important;
}

.cards-left {
    margin-left: 5%;
}

.card-pull-right {
    position: relative !important;
    display: flex;
    float: right;
}

.avatar-post {
    position: relative;
    top: -5px;
    display: block !important;
    width: 60px !important;
    height: 60px !important;
}

.follow-btn-user {
    position: relative !important;
    float: right !important;
    margin-right: 6%;
    bottom: 35px !important;
}

.likes-class {
    padding-left: 10%;
}

.btn-like {
    margin-right: 10px !important;
}

.btn-share {
    margin-left: 10px !important;
}

.username {
    position: relative;
    float: left;
    background: none !important;
    border: none; 
    padding: 0 !important;
    cursor: pointer;
    transition: color 0.3s;
}

.username:hover {
    color: rgb(77, 178, 224);
}

footer {
    width: 100vw;
    bottom: 0;
    margin-top: 10%;
}

.form-control {
    width: 100% !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

a {
    color: rgb(77, 178, 224) !important;
}

.avatar {
    float: left;
    margin-right: 10px;
    height: 100px !important;
}

.a-footer {
    color: white !important;
}

.a-footer:hover {
    color: rgb(77, 178, 224) !important;
}

.text {
    padding-top: 3%;
    padding-bottom: 3%;
}

.list-group-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.suggestion {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}

.avatar-suggestion {
    width: 20% !important;
}

.h6 {
    position: relative !important;
    padding-left: 5% !important;
    font-weight: 300 !important;
}

.h5-user-info {
    position: relative;
    padding-left: 5%;
    padding-bottom: 2%;
}

.badge-primary {
    background-color: rgb(77, 178, 224) !important;
    border-color: rgb(77, 178, 224) !important;
}

.btn-primary {
    background-color: rgb(77, 178, 224) !important;
    border-color: rgb(77, 178, 224) !important;
}

.btn-primary:hover {
    background-color: rgb(241, 241, 241) !important;
    border-color: rgb(241, 241, 241) !important;
    color: #313131 !important;
    transition:all 0.3s ease-in-out;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.14), 0 1px 2px rgba(0,0,0,0.24);
}

.btn {
    font-size: 80%;
}

.btn-follow {
    position: relative;
    float: left;
    left: 5%;
    font-size:80% !important;
}

.card-link {
    color: #808080 !important;
}

.card-link:hover {
    color: rgb(77, 178, 224) !important;
    /* color: blueviolet !important; */
}

.btn {
  font-family: 'sans-serif' !important;
  letter-spacing: 0 !important;
}

.btn-link {
    color: rgb(77, 178, 224) !important;
    /* color: rgb(157, 87, 223) !important; */
}